@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@769&family=Oswald&display=swap');

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    background-image: url('Pictures/Background.jpg');
    background-size:cover;
}



video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop video from top and bottom */
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header {
    position:fixed;
    width: auto;
    top: 0;
    padding-right: 100%;
    padding-bottom: 0;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header.transparent {
    background-color: transparent;
}

#main-header:not(.transparent) {
    background-color: rgb(10, 190, 255, 0.77) /* Change this to your desired background color */
}

.left-section {
    display: flex;
    align-items: center;
}

.main-nav a, .submenu-content a, .right-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.submenu {
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #01486b; /* Change this to your desired background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 2%;
    border-style: groove;
    padding: 2%;
    border-bottom: 15px #004263;
}

.submenu:hover .submenu-content {
    display: block;
}

.crew {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.headwords {
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    grid-column: 1 / -1;
    justify-items: center;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 9px;
    margin-top: 0;
    text-align: center;
    color: white;
}

.btn {
    margin: 0;
}

.icon-menu img {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
}


@media screen and (max-width: 768px) {
    .main-nav {
        display: none;
    }

    .right-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }
}